@import "tailwindcss";

@theme {
  --font-sans: "Lato", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

:root {
  --bg: #fcfcfc;
  --ink: #1a202c;
  --accent: #c49a6c;
}

body {
  background-color: var(--bg);
  color: var(--ink);
  font-family: var(--font-sans);
}

h1, h2, h3, h4 {
  font-family: var(--font-serif);
}

.logo-font {
  font-family: var(--font-serif);
}
